
 :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  text-align: center;
}

 a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */

body {
  margin: 0;
  text-align: center;
}
 
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.2em 0.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  border: ridge;
  cursor: pointer;
  margin-bottom: 10px;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #d6cbcb;
  }
  a:hover {
    color: #747bff;
  }
}

form {
  display: flex;
  flex-direction: column;
  max-width: 300px; 
  margin: auto;
}

input ,
textarea{
  min-height: 50px;
  border-radius: 7px;
  border:1px ridge black;
  margin-bottom: 10px;
  max-width: 20em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}  

/*.content{
  display: flex ;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.edit-content{
  width: 50%;
}

.preview{
  width: 50%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  height: fit-content;
}

.personalInfo{
  background-color: #747bff;
  color: #f9f9f9;
}

h3{
  background-color: darkgray;
} */